  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {{ navigation }}
  </div>

  <div class="p0 min-w-full flex flex-col">
    <div class="h-28 max-w-6xl w-4/5 flex flex-row ml-auto mr-auto">
      <div class="menu-icon flex items-center" onClick="openNav()">{{> "icons/menu-icon"}}</div>
      <div class="bond-icon flex dark:hidden">{{> "icons/bond-dark-official-web"}}</div>
      <div class="bond-icon hidden dark:flex">{{> "icons/bond-light-official-web"}}</div>
      <div class="dark-mode-icon flex dark:hidden items-center" onClick="toggleDarkMode()">{{> "icons/dark-mode-icon"}}</div>
      <div class="dark-mode-icon hidden dark:flex items-center" onClick="toggleDarkMode()">{{> "icons/light-mode-icon"}}</div>
    </div>
  </div>
