<?xml version="1.0" encoding="UTF-8"?>
<svg viewBox="0 0 51.379 29.44" version="1.1" viewBox="0 0 51.379 29.44" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
 <metadata>
  <rdf:RDF>
   <cc:Work rdf:about="">
    <dc:format>image/svg+xml</dc:format>
    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
    <dc:title/>
   </cc:Work>
  </rdf:RDF>
 </metadata>
 <g transform="translate(-143.53 -287.11)">
  <g transform="matrix(.6121 0 0 .6121 55.677 122.79)">
   <g fill="#d8dee9" shape-rendering="auto">
    <path d="m185.5 271.51-29.184 9.7266-9.4199 28.264 5.5215 1.8398 8.5-25.502 24.582-8.1934 24.58 8.1934 8.5 25.502 5.5215-1.8398-9.4199-28.264z" color="#000000" color-rendering="auto" dominant-baseline="auto" image-rendering="auto" solid-color="#000000" stop-color="#000000" style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;inline-size:0;isolation:auto;mix-blend-mode:normal;shape-margin:0;shape-padding:0;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
    <path d="m158.62 283.54 26.882 26.882" color="#000000" color-rendering="auto" dominant-baseline="auto" image-rendering="auto" solid-color="#000000" stop-color="#000000" style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;inline-size:0;isolation:auto;mix-blend-mode:normal;shape-margin:0;shape-padding:0;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
    <path d="m160.68 281.48-4.1172 4.1152 26.883 26.881 4.1152-4.1152z" color="#000000" color-rendering="auto" dominant-baseline="auto" image-rendering="auto" solid-color="#000000" stop-color="#000000" style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;inline-size:0;isolation:auto;mix-blend-mode:normal;shape-margin:0;shape-padding:0;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
    <path d="m185.5 274.58v35.842" color="#000000" color-rendering="auto" dominant-baseline="auto" image-rendering="auto" solid-color="#000000" stop-color="#000000" style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;inline-size:0;isolation:auto;mix-blend-mode:normal;shape-margin:0;shape-padding:0;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
    <path d="m182.59 274.58v35.844h5.8223v-35.844z" color="#000000" color-rendering="auto" dominant-baseline="auto" image-rendering="auto" solid-color="#000000" stop-color="#000000" style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;inline-size:0;isolation:auto;mix-blend-mode:normal;shape-margin:0;shape-padding:0;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
    <path d="m212.38 283.54-26.882 26.882" color="#000000" color-rendering="auto" dominant-baseline="auto" image-rendering="auto" solid-color="#000000" stop-color="#000000" style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;inline-size:0;isolation:auto;mix-blend-mode:normal;shape-margin:0;shape-padding:0;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
    <path d="m210.32 281.48-26.881 26.881 4.1152 4.1152 26.883-26.881z" color="#000000" color-rendering="auto" dominant-baseline="auto" image-rendering="auto" solid-color="#000000" stop-color="#000000" style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;inline-size:0;isolation:auto;mix-blend-mode:normal;shape-margin:0;shape-padding:0;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
   </g>
   <path d="m164.75 283.54a6.1274 6.1274 0 0 1-6.1274 6.1274 6.1274 6.1274 0 0 1-6.1274-6.1274 6.1274 6.1274 0 0 1 6.1274-6.1274 6.1274 6.1274 0 0 1 6.1274 6.1274z" fill="#ebcb8b" opacity=".999" style="paint-order:markers fill stroke"/>
   <path d="m191.63 274.58a6.1274 6.1274 0 0 1-6.1274 6.1274 6.1274 6.1274 0 0 1-6.1274-6.1274 6.1274 6.1274 0 0 1 6.1274-6.1274 6.1274 6.1274 0 0 1 6.1274 6.1274z" fill="#a3be8c" opacity=".999" style="paint-order:markers fill stroke"/>
   <path d="m218.51 283.54a6.1274 6.1274 0 0 1-6.1274 6.1274 6.1274 6.1274 0 0 1-6.1274-6.1274 6.1274 6.1274 0 0 1 6.1274-6.1274 6.1274 6.1274 0 0 1 6.1274 6.1274z" fill="#5e81ac" opacity=".999" style="paint-order:markers fill stroke"/>
   <g fill="#d8dee9" shape-rendering="auto">
    <path d="m149.66 310.42h35.842" color="#000000" color-rendering="auto" dominant-baseline="auto" image-rendering="auto" solid-color="#000000" stop-color="#000000" style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;inline-size:0;isolation:auto;mix-blend-mode:normal;shape-margin:0;shape-padding:0;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
    <path d="m221.34 310.42h-35.842" color="#000000" color-rendering="auto" dominant-baseline="auto" image-rendering="auto" solid-color="#000000" stop-color="#000000" style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;inline-size:0;isolation:auto;mix-blend-mode:normal;shape-margin:0;shape-padding:0;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
    <path d="m150.54 307.51v5.8203h70.807v-5.8203z" color="#000000" color-rendering="auto" dominant-baseline="auto" image-rendering="auto" solid-color="#000000" stop-color="#000000" style="font-feature-settings:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-variation-settings:normal;inline-size:0;isolation:auto;mix-blend-mode:normal;shape-margin:0;shape-padding:0;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-orientation:mixed;text-transform:none;white-space:normal"/>
   </g>
   <path d="m155.79 310.42a6.1274 6.1274 0 0 1-6.1274 6.1274 6.1274 6.1274 0 0 1-6.1274-6.1274 6.1274 6.1274 0 0 1 6.1274-6.1274 6.1274 6.1274 0 0 1 6.1274 6.1274z" fill="#c27078" opacity=".999" style="paint-order:markers fill stroke"/>
   <path d="m227.47 310.42a6.1274 6.1274 0 0 1-6.1274 6.1274 6.1274 6.1274 0 0 1-6.1274-6.1274 6.1274 6.1274 0 0 1 6.1274-6.1274 6.1274 6.1274 0 0 1 6.1274 6.1274z" fill="#b48ead" opacity=".999" style="paint-order:markers fill stroke"/>
  </g>
  <text fill="#000000" font-family="Ro" font-size="10.583px" letter-spacing="0px" word-spacing="0px" style="line-height:1.25;shape-inside:url(#rect2242);white-space:pre" xml:space="preserve"><tspan x="0" y="0"><tspan font-family="Ro">Bond1</tspan></tspan></text>
 </g>
</svg>
