<svg viewBox="0 0 225 110" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0)">
<path d="M8.55 84C7.95 84 7.41 83.79 6.93 83.37C6.51 82.89 6.3 82.35 6.3 81.75V23.25C6.3 22.59 6.51 22.05 6.93 21.63C7.41 21.21 7.95 21 8.55 21H18.09C19.59 21 20.61 21.57 21.15 22.71L43.11 57.27V23.25C43.11 22.59 43.32 22.05 43.74 21.63C44.22 21.21 44.76 21 45.36 21H56.16C56.82 21 57.36 21.21 57.78 21.63C58.2 22.05 58.41 22.59 58.41 23.25V81.66C58.41 82.32 58.2 82.89 57.78 83.37C57.36 83.79 56.82 84 56.16 84H46.53C45.21 84 44.22 83.43 43.56 82.29L21.6 48.99V81.75C21.6 82.35 21.39 82.89 20.97 83.37C20.55 83.79 20.01 84 19.35 84H8.55ZM73.2375 84C72.6375 84 72.0975 83.79 71.6175 83.37C71.1975 82.89 70.9875 82.35 70.9875 81.75V23.25C70.9875 22.59 71.1975 22.05 71.6175 21.63C72.0975 21.21 72.6375 21 73.2375 21H115.268C115.928 21 116.468 21.21 116.888 21.63C117.308 22.05 117.518 22.59 117.518 23.25V31.71C117.518 32.31 117.308 32.85 116.888 33.33C116.468 33.75 115.928 33.96 115.268 33.96H86.5575V46.11H113.288C113.948 46.11 114.488 46.35 114.908 46.83C115.328 47.25 115.537 47.79 115.537 48.45V56.28C115.537 56.88 115.328 57.42 114.908 57.9C114.488 58.32 113.948 58.53 113.288 58.53H86.5575V71.04H115.988C116.648 71.04 117.188 71.25 117.607 71.67C118.028 72.09 118.238 72.63 118.238 73.29V81.75C118.238 82.35 118.028 82.89 117.607 83.37C117.188 83.79 116.648 84 115.988 84H73.2375ZM138.548 84C137.528 84 136.718 83.73 136.118 83.19C135.518 82.59 135.158 81.87 135.038 81.03L125.228 23.52C125.168 23.34 125.138 23.13 125.138 22.89C125.138 22.41 125.318 21.99 125.678 21.63C126.098 21.21 126.548 21 127.028 21H138.188C139.868 21 140.798 21.66 140.978 22.98L146.828 58.08L153.308 37.38C153.968 35.76 154.958 34.95 156.278 34.95H162.758C164.258 34.95 165.248 35.76 165.728 37.38L172.208 58.08L178.058 22.98C178.238 21.66 179.168 21 180.848 21H192.008C192.548 21 192.998 21.21 193.358 21.63C193.778 21.99 193.988 22.41 193.988 22.89L193.898 23.52L184.088 81.03C183.968 81.87 183.578 82.59 182.918 83.19C182.318 83.73 181.538 84 180.578 84H172.028C171.068 84 170.318 83.76 169.778 83.28C169.238 82.8 168.848 82.26 168.608 81.66L159.518 55.92L150.428 81.66C149.888 83.22 148.778 84 147.098 84H138.548Z" fill="#4C566A"/>
</g>
<defs>
<clipPath id="clip0">
<rect width="225" height="110" fill="white"/>
</clipPath>
</defs>
</svg>
