<svg viewBox="0 0 340 110" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0)">
<path d="M22.41 84C21.81 84 21.27 83.79 20.79 83.37C20.37 82.89 20.16 82.35 20.16 81.75V35.13H4.14C3.54 35.13 3 34.92 2.52 34.5C2.1 34.02 1.89 33.48 1.89 32.88V23.25C1.89 22.59 2.1 22.05 2.52 21.63C3 21.21 3.54 21 4.14 21H52.56C53.22 21 53.76 21.21 54.18 21.63C54.6 22.05 54.81 22.59 54.81 23.25V32.88C54.81 33.54 54.6 34.08 54.18 34.5C53.76 34.92 53.22 35.13 52.56 35.13H36.54V81.75C36.54 82.35 36.33 82.89 35.91 83.37C35.49 83.79 34.95 84 34.29 84H22.41ZM65.2395 84C64.5795 84 64.0395 83.79 63.6195 83.37C63.1995 82.95 62.9895 82.41 62.9895 81.75V23.25C62.9895 22.59 63.1995 22.05 63.6195 21.63C64.0995 21.21 64.6395 21 65.2395 21H76.8495C77.5095 21 78.0495 21.21 78.4695 21.63C78.9495 22.05 79.1895 22.59 79.1895 23.25V44.94H101.329V23.25C101.329 22.59 101.539 22.05 101.959 21.63C102.379 21.21 102.919 21 103.579 21H115.189C115.849 21 116.389 21.21 116.809 21.63C117.229 22.05 117.439 22.59 117.439 23.25V81.75C117.439 82.41 117.229 82.95 116.809 83.37C116.389 83.79 115.849 84 115.189 84H103.579C102.919 84 102.379 83.79 101.959 83.37C101.539 82.95 101.329 82.41 101.329 81.75V59.34H79.1895V81.75C79.1895 82.41 78.9495 82.95 78.4695 83.37C78.0495 83.79 77.5095 84 76.8495 84H65.2395ZM132.3 84C131.7 84 131.16 83.79 130.68 83.37C130.26 82.89 130.05 82.35 130.05 81.75V23.25C130.05 22.59 130.26 22.05 130.68 21.63C131.16 21.21 131.7 21 132.3 21H174.33C174.99 21 175.53 21.21 175.95 21.63C176.37 22.05 176.58 22.59 176.58 23.25V31.71C176.58 32.31 176.37 32.85 175.95 33.33C175.53 33.75 174.99 33.96 174.33 33.96H145.62V46.11H172.35C173.01 46.11 173.55 46.35 173.97 46.83C174.39 47.25 174.6 47.79 174.6 48.45V56.28C174.6 56.88 174.39 57.42 173.97 57.9C173.55 58.32 173.01 58.53 172.35 58.53H145.62V71.04H175.05C175.71 71.04 176.25 71.25 176.67 71.67C177.09 72.09 177.3 72.63 177.3 73.29V81.75C177.3 82.35 177.09 82.89 176.67 83.37C176.25 83.79 175.71 84 175.05 84H132.3Z" fill="#4C566A"/>
</g>
<defs>
<clipPath id="clip0">
<rect width="340" height="110" fill="white"/>
</clipPath>
</defs>
</svg>
