<svg viewBox="0 0 588 110" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0)">
<path d="M22.41 84C21.81 84 21.27 83.79 20.79 83.37C20.37 82.89 20.16 82.35 20.16 81.75V35.13H4.14C3.54 35.13 3 34.92 2.52 34.5C2.1 34.02 1.89 33.48 1.89 32.88V23.25C1.89 22.59 2.1 22.05 2.52 21.63C3 21.21 3.54 21 4.14 21H52.56C53.22 21 53.76 21.21 54.18 21.63C54.6 22.05 54.81 22.59 54.81 23.25V32.88C54.81 33.54 54.6 34.08 54.18 34.5C53.76 34.92 53.22 35.13 52.56 35.13H36.54V81.75C36.54 82.35 36.33 82.89 35.91 83.37C35.49 83.79 34.95 84 34.29 84H22.41ZM87.7627 84.9C79.3027 84.9 72.6427 82.83 67.7827 78.69C62.9227 74.55 60.3427 68.46 60.0427 60.42C59.9827 58.68 59.9527 56.1 59.9527 52.68C59.9527 49.2 59.9827 46.59 60.0427 44.85C60.3427 36.93 62.9527 30.84 67.8727 26.58C72.8527 22.26 79.4827 20.1 87.7627 20.1C96.0427 20.1 102.673 22.26 107.653 26.58C112.633 30.84 115.243 36.93 115.483 44.85C115.603 48.33 115.663 50.94 115.663 52.68C115.663 54.36 115.603 56.94 115.483 60.42C115.183 68.46 112.603 74.55 107.743 78.69C102.883 82.83 96.2227 84.9 87.7627 84.9ZM87.7627 71.94C91.0627 71.94 93.6727 70.95 95.5927 68.97C97.5727 66.99 98.6227 63.96 98.7427 59.88C98.8627 56.4 98.9227 53.94 98.9227 52.5C98.9227 50.94 98.8627 48.48 98.7427 45.12C98.6227 41.04 97.5727 38.01 95.5927 36.03C93.6127 34.05 91.0027 33.06 87.7627 33.06C84.5227 33.06 81.9127 34.05 79.9327 36.03C78.0127 38.01 76.9627 41.04 76.7827 45.12C76.7227 46.8 76.6927 49.26 76.6927 52.5C76.6927 55.68 76.7227 58.14 76.7827 59.88C76.9627 63.96 78.0127 66.99 79.9327 68.97C81.8527 70.95 84.4627 71.94 87.7627 71.94Z" fill="#4C566A"/>
</g>
<defs>
<clipPath id="clip0">
<rect width="588" height="110" fill="white"/>
</clipPath>
</defs>
</svg>
