<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    {{!-- Basic meta - advanced meta is output with {ghost_head} below --}}
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Theme assets - use the {asset} helper to reference styles & scripts,
    this will take care of caching and cache-busting automatically --}}
    <link rel="stylesheet" type="text/css" href={{asset "built/a.tailwind.css"}}/>
    <link rel="stylesheet" type="text/css" href="{{asset "built/bond.css"}}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
    it should always be the last tag before the closing head tag --}}
    <script src="{{asset "built/bond.js"}}"></script>
    <script>
      if (window.localStorage.getItem("IsDarkModeEnabled") === null) {
          window.localStorage.setItem("IsDarkModeEnabled", "false");
      }
      setTheme();
    </script>
    {{ghost_head}}

</head>
<body class="{{body_class}}">

<div class="viewport">
    <main>
        {{!-- All other templates get inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
    </main>
    {{!-- The global footer at the very bottom of the screen --}}
</div>

{{ghost_foot}}
</body>
</html>
