{{!< default}}

<main id="site-main" class="site-main outer h-screen">
  <div class="flex flex-col overflow-scroll h-screen">
    {{> nav}}
    <div class="p0 min-w-full flex flex-col">
      <div class="ml-auto mr-auto mt-5 mb-5 lg:m-auto max-w-6xl w-4/5">
        <div class="flex flex-row">
          <div class="welcome-text" style="width: 46%">{{> "icons/welcome"}}</div>
          <div class="welcome-link authentic" style="width: 54%"><a href="#authentic">{{> "icons/authentic"}}</a></div>
        </div>
        <div class="flex flex-row">
          <div class="welcome-text" style="width: 60%">{{> "icons/to"}}</div>
          <div class="welcome-link private" style="width: 40%"><a href="#private">{{> "icons/private"}}</a></div>
        </div>
        <div class="flex flex-row">
          <div class="welcome-text" style="width: 35%">{{> "icons/the"}}</div>
          <div class="welcome-link sustainable" style="width: 65%"><a href="#sustainable">{{> "icons/sustainable"}}</a></div>
        </div>
        <div class="flex flex-row">
          <div class="welcome-text" style="width: 23%">{{> "icons/new"}}</div>
          <div class="welcome-link decentralized" style="width: 77%"><a href="#decentralized">{{> "icons/decentralized"}}</a></div>
        </div>
        <div class="flex flex-row">
          <div class="welcome-text" style="width: 50%">{{> "icons/internet"}}</div>
          <div class="welcome-link inclusive" style="width: 50%"><a href="#inclusive">{{> "icons/inclusive"}}</a></div>
        </div>
      </div>
      <div class="join-bond-wrapper">
        <h1 class="text-center mt-5 mb-5">The Bond Universe</h1>
        <p class="text-center">
          A decentralized social media platform connecting <span class="font-bold"> Sponsors </span> and
          <span class="font-bold"> Content Creators</span>
        </p>

        <a href="https://blog.thebonduniverse.net/join-us/"
          class="join-bond-btn">
          Join us
        </a>
      </div>
    </div>

    <div class="p1" id="authentic">
      <div class="slide-content">
        <h1 class="text-red-default text-center mb-2">AUTHENTIC</h1>
        <p class="text-red-default self-center text-center">
        Are you tired of seeing annoying ads popping up everywhere?<br>
        Are you tired of seeing deceptive and misleading ads?<br>
        Are you an Advertiser or a Content Creator?<br>
        We need you.<br>
        Help us clean up the internet.<br>
        </p>
        <a class="bond-red-btn" href="https://blog.thebonduniverse.net/bond101-introduction/">Learn More</a>
      </div>
    </div>
    <div class="p2" id="private">
      <div class="slide-content">
        <h1 class="text-yellow-default text-center">PRIVATE</h1>
        <p class="text-yellow-default self-center text-center">
        Do you know how much the big internet companies know about you?<br>
        Probably more than you'd like!<br>
        Check out some examples from our blog post and see what you can do to protect your data!<br>
        </p>
        <a class="bond-yellow-btn" href="https://blog.thebonduniverse.net/bond101-privacy/">Protect My Data</a>
      </div>
    </div>
    <div class="p3" id="sustainable">
      <div class="slide-content">
        <h1 class="text-green-default text-center">SUSTAINABLE</h1>
        <p class="text-green-default self-center text-center">
        We believe content creators should be compensated fairly.<br>
        We believe advertisers should be able to deploy effective advertisements without relying on platforms that put revenues before user experience.<br>
        We believe the internet is a place for collective growth.<br>
        </p>
        <a class="bond-green-btn" href="https://blog.thebonduniverse.net/bond101-business-model/">Bond's Business Model</a>
      </div>
    </div>
    <div class="p4" id="decentralized">
      <div class="slide-content">
        <h1 class="text-blue-default text-center">DECENTRALIZED</h1>
        <p class="text-blue-default self-center text-center">
        Ever heard of the Fediverse or Bitcoin?<br>
        The new era of the internet is coming.<br>
        Bond will be a part of it and you can too!
        </p>
        <a class="bond-blue-btn" href="https://blog.thebonduniverse.net/bond101-the-bond-universe/">The Bond Universe</a>
      </div>
    </div>
    <div class="p5" id="inclusive">
      <div class="slide-content">
        <h1 class="text-purple-default text-center">INCLUSIVE</h1>
        <p class="text-purple-default self-center text-center">
        Join the Bond universe.<br>
        Vote on the feature you need the most.<br>
        Help us build a platform you get to design.<br>
        We believe in community driven development.<br>
        Our projects will be open source so you get to see what is going on under the hood!
        </p>
        <a class="bond-purple-btn" href="https://gitlab.com/thebonduniverse">Bond's Repositories</a>
      </div>
    </div>
  </div>
</main>
