{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{> "nav"}}

<div class="pb-10">
  {{#tag}}
  {{/tag}}
  {{#foreach posts}}

  {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
  {{> "post-card"}}

  {{/foreach}}
</div>
