@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Rubik", sans-serif;
  @apply bg-blue-light;
  @apply dark:bg-nord-darker;
  @apply text-nord-default;
  @apply dark:text-snow-dark;
}

.p0 {
  @apply bg-blue-light;
  @apply dark:bg-nord-darker;
}

.p1 {
  @apply bg-red-light;
  @apply min-w-full;
  @apply dark:bg-nord-darker;
}
.p2 {
  @apply bg-yellow-light;
  @apply min-w-full;
  @apply dark:bg-nord-darker;
}
.p3 {
  @apply bg-green-light;
  @apply min-w-full;
  @apply dark:bg-nord-darker;
}
.p4 {
  @apply bg-blue-light;
  @apply min-w-full;
  @apply dark:bg-nord-darker;
}
.p5 {
  @apply bg-purple-light;
  @apply min-w-full;
  @apply dark:bg-nord-darker;
}

.join-bond-btn {
  @apply mt-5 mb-5;
  @apply self-center;
  @apply pt-2 pb-2 pl-8 pr-8;
  @apply text-snow-light bg-nord-default hover:bg-nord-darker;
  @apply dark:text-nord-darker dark:bg-snow-dark dark:hover:bg-nord-darker dark:hover:text-snow-dark;
  @apply font-black text-center;
  @apply rounded-full;
}

.bond-red-btn {
  @apply mt-5 mb-5;
  @apply self-center;
  @apply pt-2 pb-2 pl-8 pr-8;
  @apply text-snow-light bg-red-default hover:bg-red-dark;
  @apply dark:text-snow-light dark:bg-red-default dark:hover:bg-red-dark;
  @apply font-black text-center;
  @apply rounded-full;
}
.bond-yellow-btn {
  @apply mt-5 mb-5;
  @apply self-center;
  @apply pt-2 pb-2 pl-8 pr-8;
  @apply text-snow-light bg-yellow-default hover:bg-yellow-dark;
  @apply dark:text-snow-light dark:bg-yellow-default dark:hover:bg-yellow-dark;
  @apply font-black text-center;
  @apply rounded-full;
}
.bond-blue-btn {
  @apply mt-5 mb-5;
  @apply self-center;
  @apply pt-2 pb-2 pl-8 pr-8;
  @apply text-snow-light bg-blue-default hover:bg-blue-dark;
  @apply dark:text-snow-light dark:bg-blue-default dark:hover:bg-blue-dark;
  @apply font-black text-center;
  @apply rounded-full;
}
.bond-green-btn {
  @apply mt-5 mb-5;
  @apply self-center;
  @apply pt-2 pb-2 pl-8 pr-8;
  @apply text-snow-light bg-green-default hover:bg-green-dark;
  @apply dark:text-snow-light dark:bg-green-default dark:hover:bg-green-dark;
  @apply font-black text-center;
  @apply rounded-full;
}
.bond-purple-btn {
  @apply mt-5 mb-5;
  @apply self-center;
  @apply pt-2 pb-2 pl-8 pr-8;
  @apply text-snow-light bg-purple-default hover:bg-purple-dark;
  @apply dark:text-snow-light dark:bg-purple-default dark:hover:bg-purple-dark;
  @apply font-black text-center;
  @apply rounded-full;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 3px;
}

.bond-icon {
  @apply items-center ml-auto mr-auto;
}
.bond-icon svg {
  height: 50px;
}

.menu-icon svg {
  height: 50px;
  width: 50px;
  @apply fill-current text-nord-dark;
  @apply dark:text-snow-dark;
}
.dark-mode-icon svg {
  height: 30px;
  width: 30px;
  @apply fill-current text-nord-dark;
  @apply dark:text-snow-dark;
}

.welcome-text svg {
}

.welcome-text path {
  @apply fill-current text-nord-dark;
  @apply dark:text-snow-dark;
}

.welcome-link svg {
}

.welcome-link path {
  @apply fill-current text-snow-dark;
  @apply dark:text-nord-default;
  transition: fill 1s ease;
}
.authentic:hover path {
  fill: theme("colors.red.default");
}
.private:hover path {
  fill: theme("colors.yellow.default");
}
.sustainable:hover path {
  fill: theme("colors.green.default");
}
.decentralized:hover path {
  fill: theme("colors.blue.default");
}
.inclusive:hover path {
  fill: theme("colors.purple.default");
}

.justify-all {
  text-align: justify;
}
.w-900px {
  width: 900px;
  max-width: 900px;
}

.slide-content {
  @apply w-4/5 max-w-6xl;
  @apply flex;
  @apply flex-col;
  @apply m-auto;
  @apply mt-20 mb-20;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  @apply bg-nord-darker;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  @apply text-snow-dark;
  @apply text-2xl;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  @apply text-blue-default;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.post-content-wrapper {
  @apply rounded-lg;
  @apply bg-white-glass;
  @apply dark:bg-nord-dark;
  @apply border-solid;
  @apply mt-0 mb-10 ml-auto mr-auto sm:mt-5;
  @apply p-4 pt-5 sm:p-10;
  @apply flex flex-col;
  @apply h-full;
  @apply w-11/12 max-w-6xl sm:w-4/5;
}

.page-content-wrapper {
  @apply rounded-lg;
  @apply bg-white-glass;
  @apply dark:bg-nord-dark;
  @apply border-solid;
  @apply mt-0 mb-10 ml-auto mr-auto sm:mt-5;
  @apply p-5 sm:p-10;
  @apply flex flex-col;
  @apply h-full;
  @apply w-11/12 max-w-6xl sm:w-4/5;
}

button {
  outline: 0;
}

h1 {
  @apply text-3xl sm:text-4xl;
  @apply font-black;
}
h2 {
  @apply font-bold;
  @apply text-2xl sm:text-3xl;
}
h3 {
  @apply font-bold;
  @apply text-xl sm:text-2xl;
}

/* post content */
.post h1,
.page h1 {
  @apply mt-5 mb-5;
}

.post h2,
.page h2 {
  @apply mt-2;
  @apply mb-2;
}

.post h3,
.page h3 {
  @apply mt-2;
  @apply mb-2;
}

.post figcaption,
.page figcaption {
  @apply text-sm;
  @apply text-center;
  @apply font-bold;
  @apply mt-1;
}

.post hr,
.page hr {
  border-radius: 1px;
  border-width: 1px;
  @apply mt-10 mb-10;
  @apply border-solid border-snow-dark;
  @apply dark:border-nord-darker;
  @apply font-bold;
}

.post p,
.page p {
  @apply font-normal;
  @apply text-lg;
}

.post a,
.page a {
  @apply text-blue-default;
  @apply font-bold;
  @apply underline;
}

.post blockquote,
.page blockquote {
  @apply p-2;
  @apply border-l-4;
  @apply rounded-sm border-blue-default;
  @apply mt-5 mb-5;
}

.post ul,
.page ul {
}

.post li,
.page li {
  @apply pt-2 pb-2;
}

.post figure iframe {
  @apply w-full h-full;
  @apply absolute top-0 left-0;
}

.post-card-wrapper {
  @apply w-11/12 max-w-6xl;
  @apply p-2 pt-5 mt-5 ml-auto mr-auto sm:p-10;
  @apply rounded-lg sm:w-4/5;
  @apply bg-white-glass;
  @apply dark:bg-nord-dark;
}

.join-bond-wrapper {
  @apply w-4/5 max-w-6xl;
  @apply rounded-lg border-solid;
  @apply bg-white-glass;
  @apply dark:bg-nord-dark;
  @apply mt-5 mb-10 ml-auto mr-auto p-5;
  @apply flex flex-col;
  @apply h-full;
}

.kg-width-wide {
  grid-column: wide-start / wide-end;
}

.kg-width-full {
  grid-column: full-start / full-end;
}

.kg-width-full img {
  width: 100%;
}

.kg-gallery-container {
  position: relative;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.kg-bookmark-card,
.kg-bookmark-publisher {
  position: relative;
  width: 100%;
}

.kg-bookmark-container,
.kg-bookmark-container:hover {
  display: flex;
  color: currentColor;
  font-family: var(--font-sans-serif);
  text-decoration: none !important;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.kg-bookmark-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.kg-bookmark-title {
  font-size: 1.5rem;
  line-height: 1.4em;
  font-weight: 600;
  color: #15171a;
}

.kg-bookmark-description {
  display: -webkit-box;
  font-size: 1.4rem;
  line-height: 1.5em;
  margin-top: 3px;
  color: #626d79;
  font-weight: 400;
  max-height: 44px;
  overflow-y: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.kg-bookmark-metadata {
  display: flex;
  align-items: center;
  margin-top: 22px;
  width: 100%;
  color: #394047;
  font-size: 1.4rem;
  font-weight: 500;
}

.kg-bookmark-icon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.kg-bookmark-author,
.kg-bookmark-publisher {
  display: inline;
}

.kg-bookmark-publisher {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 240px;
  white-space: nowrap;
  display: block;
  line-height: 1.65em;
}

.kg-bookmark-metadata > span:nth-of-type(2) {
  color: #626d79;
  font-weight: 400;
}

.kg-bookmark-metadata > span:nth-of-type(2):before {
  content: "•";
  color: #394047;
  margin: 0 6px;
}

.kg-bookmark-thumbnail {
  position: relative;
  flex-grow: 1;
  min-width: 33%;
}

.kg-bookmark-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 4px 4px 0;
}

/* This keeps small embeds centered */
.kg-embed-card {
  position: relative;
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
}

/* This keeps small iamges centered */
.kg-image-card img {
  margin: auto;
}

/* Captions */
.kg-card figcaption {
  @apply text-sm;
  @apply text-center;
  @apply font-bold;
  @apply mt-1;
}
.kg-card figcaption strong {
  color: rgba(0, 0, 0, 0.8);
}
